/*classes-alert-info*/
/*hidden-on-mobile*/
/*nav-links*/
/*header-img*/
/*main*/
/*sub-section*/
/*id-main*/
/*social-media-links*/

/* This code is for a regular web-page */
@media screen and (min-width:768px) {
    h1 {
        float: left;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        float: right;
        padding-left: 10px;
    }

    .nav-links {
        overflow: auto;
    }

    .header-img {
        clear: both;
        width: 890px;
        height: 385px;
        display: block;
        margin: auto;

    }

    body {
        width: 80%;
        max-width: 960px;
        margin: 0 auto;

    }

    .main {
        float: left;
        width: 60%;

    }

    .sub-section {
        float: right;
        width: 35%;
        font-style: italic;
    }

    @media screen and (min-width: 768px) {
        .alert-info {
            display: none;
        }
    }

    footer {
        clear: both
    }
}

/*This code will size the webpage for mobile devices*/
@media screen and (max-width:768px){

    .hidden-on-mobile{
        text-decoration: none;
        border: 1px solid gray;
        height: 40px;
        background-color: #CCFFFF;
        text-align:center;
        clear:both;
       


}
h1{
    text-align: center;
}
ul{
    list-style: none;


}
li{
    border:1px solid gray;
    background-color:#CCCCCC;
    height:40px;
    margin-bottom: 8px;
    text-align: center;

}
    body {
        width: 80%;
        max-width: 360px;
        margin: 0 auto;

}
    .header-img {
        clear: both;
        width: 339px;
        height: 224px;
        display: block;
        margin: auto;
    }
    .main {
        float: left;
        width: 60%;

    }

    .sub-section {
        float: left;
        width: 35%;
        font-style: italic;
    }
}